/*
  Frontend Mentor
  Profile Card Component
  C Lewis
  clewisdev.com
  May 2022
*/  

/****** VARIABLES ******/

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%); 
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/****** GLOBAL STYLES ******/

body {
    font-family: 'League Spartan', sans-serif;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "headings"
        "reviews"
        "buyers";                ;
}

h1, .title, li {
    color: var(--very-dark-magenta);
}

.subtitle {
    color: var(--dark-grayish-magenta);
}

h3 {
    color: var(--white);
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

h4 {
    color: var(--soft-pink);
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

.review1, .review2, .review3 {
    color: var(--light-grayish-magenta);
}

/******* MOBILE BODY STYLE ******/

.wrapper {
    width: 375px;
    background-color: white;
    padding: 1.5rem;
    
}

.headings-wrapper {
    grid-area: headings;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    line-height: 2.25rem;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.subtitle {
    font-size: 1.15em;
    font-weight: 500;
    text-align: center;
    padding-left: 1.25rem;
    padding-right: 1.251rem;
    margin-bottom: 3rem;
}

/****** RATINGS ******/

ul {
    list-style-type: none;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    padding-left: 0;
    margin-bottom: 3.5rem;
    grid-area: reviews;
}

li {
    background-color: var(--light-grayish-magenta);
    border-radius: .5rem;
    width: 85%;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}


/****** PROFILE REVIEWS ******/

.buyer-wrapper {
    grid-area: buyers;
}

.colton-image, .irene-image, .anne-image {
    border-radius: 50%;
    
}

.buyer1, .buyer2, .buyer3 {
    width: 85%;
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.buyer-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.buyer-headers {
    display: flex;
    flex-direction: column;
    gap: 0;
}

p {
    font-size: 1em;    
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.buyer3 {
    margin-bottom: 5rem;
}

/******* MEDIA QUERY DESKTOP DESIGN ******/
@media screen and (min-width: 1000px) {
    .body {
        display: grid;
        grid-template-areas: 
            "headings reviews"
            "buyers";
    }
    
    .wrapper {
        width: 1440px;
    }

    li {
        width: 25%;
    }

    .buyers-wrapper {
        display: flex;
        flex-direction: row;
    }

    .buyer1, .buyer2, .buyer3 {
        width: 33%;
    }
}



/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700
*/